In [23]:
import pandas as pd
import numpy as np

In [24]:
import matplotlib.pyplot as plt
%matplotlib inline

In [25]:
df = pd.read_csv('./datasets/NSE-TATAGLOBAL11.csv' , index_col='Date')

In [26]:
df.head()

,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs)
Date,,,,,,,
2018-10-08,208.00,222.25,206.85,216.00,215.15,4642146.0,10062.83
2018-10-05,217.00,218.60,205.90,210.25,209.20,3519515.0,7407.06
2018-10-04,223.50,227.80,216.15,217.25,218.20,1728786.0,3815.79
2018-10-03,230.00,237.50,225.75,226.45,227.60,1708590.0,3960.27
2018-10-01,234.55,234.60,221.05,230.30,230.90,1534749.0,3486.05

In [27]:
df.shape

(1235, 7)

In [28]:
df.columns.to_list()

['Open',
 'High',
 'Low',
 'Last',
 'Close',
 'Total Trade Quantity',
 'Turnover (Lacs)']

In [29]:
df['Diff'] = df['Open'] - df ['Close']

In [30]:
df.head(10)

,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs),Diff
Date,,,,,,,,
2018-10-08,208.00,222.25,206.85,216.00,215.15,4642146.0,10062.83,-7.15
2018-10-05,217.00,218.60,205.90,210.25,209.20,3519515.0,7407.06,7.80
2018-10-04,223.50,227.80,216.15,217.25,218.20,1728786.0,3815.79,5.30
2018-10-03,230.00,237.50,225.75,226.45,227.60,1708590.0,3960.27,2.40
2018-10-01,234.55,234.60,221.05,230.30,230.90,1534749.0,3486.05,3.65
2018-09-28,234.05,235.95,230.20,233.50,233.75,3069914.0,7162.35,0.30
2018-09-27,234.55,236.80,231.10,233.80,233.25,5082859.0,11859.95,1.30
2018-09-26,240.00,240.00,232.50,235.00,234.25,2240909.0,5248.60,5.75
2018-09-25,233.30,236.75,232.00,236.25,236.10,2349368.0,5503.90,-2.80
2018-09-24,233.55,239.20,230.75,234.00,233.30,3423509.0,7999.55,0.25

In [31]:
df['Diff'].describe()

count    1235.000000
mean        0.223806
std         3.491816
min       -17.600000
25%        -1.400000
50%         0.250000
75%         2.000000
max        24.100000
Name: Diff, dtype: float64